
<div class="row">
  <div class="col-md-12">
    <ul class="portfolio-filter nav nav-tabs border-none portfolio-filter-tab-1 font-weight-600 alt-font text-uppercase text-center text-small">
        <li class="nav active"><a href="javascript:void(0);" data-filter="*" class="xs-display-inline light-gray-text-link text-very-small">All</a></li>
        <li class="nav"><a href="javascript:void(0);" data-filter=".cat" class="xs-display-inline light-gray-text-link text-very-small">cat</a></li>
        <li class="nav"><a href="javascript:void(0);" data-filter=".dog" class="xs-display-inline light-gray-text-link text-very-small">dog</a></li>
        <li class="nav"><a href="javascript:void(0);" data-filter=".hamster" class="xs-display-inline light-gray-text-link text-very-small">hamster</a></li>
    </ul>                                                                           
  </div>
</div>
