<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('http://placehold.it/1920x1100');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center">
            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Portfolio grid overlay</h1>
            <span class="text-white opacity6 alt-font">Choose from our wide range of portfolio layouts</span>
        </div>
      </div>
    </div>
  </div>
</section>