<section class="wow fadeIn padding-90px-top sm-padding-50px-top xs-padding-30px-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="portfolio-filter nav nav-tabs border-none portfolio-filter-tab-1 font-weight-600 alt-font text-uppercase text-center margin-80px-bottom text-small sm-margin-40px-bottom xs-margin-20px-bottom">
            <li class="nav active"><a href="javascript:void(0);" data-filter="*" class="xs-display-inline light-gray-text-link text-very-small">All</a></li>
            <li class="nav"><a href="javascript:void(0);" data-filter=".cat" class="xs-display-inline light-gray-text-link text-very-small">cat</a></li>
            <li class="nav"><a href="javascript:void(0);" data-filter=".dog" class="xs-display-inline light-gray-text-link text-very-small">dog</a></li>
            <li class="nav"><a href="javascript:void(0);" data-filter=".hamster" class="xs-display-inline light-gray-text-link text-very-small">hamster</a></li>
           <%#   <li class="nav"><a href="javascript:void(0);" data-filter=".hamster" class="xs-display-inline light-gray-text-link text-very-small">Design</a></li>
            <li class="nav"><a href="javascript:void(0);" data-filter=".photography" class="xs-display-inline light-gray-text-link text-very-small">Photography</a></li> %>
        </ul>                                                                           
      </div>
    </div>
  </div>
</section>