내가 쓴 글 <br>
<a href="/mypage">뒤로가기</a> <hr>

<% @boards.each do |board| %>
 <%= image_tag (board.image), :width => '15%'  %>
 <a href="/my_board/delete">삭제하기 </a> <br>
 <%=board.image%> <hr>
<% end %>
<a href="/mypage">뒤로가기</a> <br>