내가 쓴 글 <br>
<a href="/mypage">뒤로가기</a> <hr>

<% @boards.each do |board| %>
 <%= image_tag (board.image), :height => '100px', :width => '100px'  %> <br>
 <%=board.image%> <hr>
<% end %>
<a href="/mypage">뒤로가기</a> <br>