<%# render 'boards/layouts/board_main' %>
<section class="wow fadeIn padding-50px-tb border-top border-width-1 border-color-extra-light-gray">
  <div class="container">
    <div class="row button-right-layout">
      <div class="col-md-12 col-sm-12 col-xs-12 sm-text-center wow fadeInDown button-right-content"> 
        <a href="contact-us-modern.html" class="btn btn-medium btn-rounded btn-transparent-dark-gray" data-wow-delay="0.4s">
          Start New Image 
        </a>
      </div>
    </div>
  </div>
</section>
<%= render 'boards/layouts/board_category_list'%>
<%= render 'boards/layouts/board_thumbnail.html.erb'%>  

<!-- end portfolio section -->
<!-- start call to action section -->

<style>
.button-right-layout {
  display: flex;
}
.button-right-content {
  display: flex;
  justify-content: flex-end;
}
</style>
