<div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
  <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
    <li class="dropdown megamenu-fw">
      <a href="/">Home</a>
    </li>
    <li class="dropdown megamenu-fw">
      <a href="/boards">boards</a>
    </li>
    <li class="dropdown megamenu-fw text-deep-pink">
      <a href="/boards/new"><p class="text-deep-pink">submit a photo</p></a>
    </li>
    <% unless current_user %>
    <li class="dropdown megamenu-fw">
        <%= link_to('Login', new_user_session_path)  %>
    </li>
    <% else %>
    <li class="dropdown megamenu-fw">
       <%= link_to("Hello #{current_user.nickname}!!", destroy_user_session_path, method: :delete) %>  
    </li>      
    <% end%>
  </ul>
</div>