<section class="wow fadeIn">
  <div class="container col-md-6 center-col">
    <div class="row">
      <%= render '/devise/layouts/devise_title'%>
    </div>
    <div class="devise-form col-md-10 center-col">
      <%= render @path %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
  
