// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board_category {
  margin: 0;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}