// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#board_category {
  margin: 0;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}
.heart {
  width: 100px;
  height: 100px;
  transform: translate(-25%, -25%);
  position: absolute;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 -10px;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart_off {
  background-position: -2800px -10px;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 -10px;
  }
  100% {
    background-position: -2800px -10px;
  }
}

.like_p{
   transform:translate(12%, 6%);
   height :24px;
}