<section class="wow fadeIn big-section border-bottom border-color-extra-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12 wow fadeIn sm-text-center">
        <span class="text-extra-large text-middle-line text-dark-gray display-block margin-five-bottom sm-margin-15px-bottom font-weight-300 sm-text-middle-line">여기다 뭐 쓸까요...</span>
        <h4 class="text-extra-dark-gray display-block font-weight-300 no-margin-bottom sm-width-80 sm-center-col xs-width-100">다른 고양이 더 보러가기..</h4>
      </div> 
    </div>
  </div>
</section>