<footer class="footer-strip padding-50px-tb xs-padding-30px-tb">
  <div class="container">
    <div class="row equalize xs-equalize-auto">
      <div class="col-md-3 col-sm-3 col-xs-12 display-table sm-text-center xs-margin-20px-bottom">
        <div class="display-table-cell vertical-align-middle">
            <a href="index.html"><img class="footer-logo" src="<%= image_path("logo.png") %>" alt=""></a>
        </div>
      </div> 
      <div class="col-md-6 col-sm-6 col-xs-12 text-center text-small alt-font display-table xs-margin-10px-bottom sm-text-center">
        <div class="display-table-cell vertical-align-middle">
          &copy; by <a href="http://prography.org/" target="_blank" title="ThemeZaa">Prography</a>.
        </div>
      </div>
    </div>
  </div>
</footer>