<header>
  <nav class="navbar navbar-default bootsnav bg-transparent navbar-scroll-top nav-box-width header-light">
    <div class="container-fluid nav-header-container">
      <div class="row">
        <div class="col-md-2 col-xs-5">
          <a href="/" title="petrography" class="logo">
            <img src="<%= image_path("icon.png") %>" class="logo-dark default" alt="logo">
          </a>
        </div>
        <%= render 'layouts/header/menu'%>
      </div>
    </div>
  </nav>
</header>
