<header>
  <nav class="navbar navbar-default bootsnav bg-white header-light nav-box-width navbar-top">
    <div class="container-fluid nav-header-container">
      <div class="row">
        <div class="col-md-2 col-xs-2">
          <a href="/" title="Pofo" class="logo"><img src="<%= image_path("icon.png") %>" class="logo-dark default" alt="Pofo">
        </div>
        <div class="col-md-10 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
          <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
              <li class="dropdown megamenu-fw">
                <a href="/">Home</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="javascript:void(0);">게시판</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="/login">로그인</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
