<!-- start slider section -->
<section class="wow fadeIn no-padding">
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-12">
        <div class="swiper-number-pagination swiper-container black-move">
          <div class="bg-transparent-white opacity-full-dark z-index-5 sm-display-none"></div>
            <div class="swiper-wrapper">
              <!-- start slider item -->
              <div class="swiper-slide">
                  <div class="slider-half-small-screen position-relative bg-white">
                      <div class="slider-typography text-left">
                          <div class="slider-text-middle-main">
                              <div class="slider-text-middle">
                                  <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">Creativity and Design</span>
                                  <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">사랑받는 동물들이 당신의 크롬을 찾아갑니다.</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <div class="swiper-slide">
                  <div class="slider-half-small-screen position-relative bg-white">
                      <div class="slider-typography text-left">
                          <div class="slider-text-middle-main">
                              <div class="slider-text-middle">
                                  <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">Identities and Experiences</span>
                                  <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">당신의 사랑스러운 반려 동물을 보여주세요! 본격 자랑타임~!~!</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end slider item -->
              <!-- start slider item -->
              <%# <div class="swiper-slide">
                  <div class="slider-half-small-screen position-relative bg-white">
                      <div class="slider-typography text-left">
                          <div class="slider-text-middle-main">
                              <div class="slider-text-middle">
                                  <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">Elevate and Empower</span>
                                  <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">We are a design & development agency.</h2>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> %>
              <!-- end slider item -->
            </div>
          <div class="swiper-pagination swiper-number"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end slider section -->